.p-toast.p-toast-topright {
    z-index: 1000;
    top: 70px;
}

html {
    font-size: 12px;
}

.p-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}